@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;600;800&display=swap');
@import "partials/variables";
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
}

.container {
  width: 100rem;
  height: auto;
  margin: 0 auto;
}

//  header section

.section {
  background: url('/images/slider1.png') no-repeat;
  position: relative;
  background-size: cover;
  height: 834px;
  padding-top: 39px;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}

.header {
  display: flex;
  height: 6.25rem;
  width: 100%;
  z-index: 10;
  &__nav {
    background-color: red;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  &__logo {
    margin-left: 13rem;
    margin-right: 452px;
    z-index: 10;
  }
}

// navigation

.nav {
  display: flex;
  margin-left: 0;
  list-style: none;
  height: 5.625rem;
  &__item {
    padding: 40px 0 45px 0;
    margin-right: 81px;
    display: flex;
    z-index: 10;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    z-index: 10;
  }
  &__link:hover {
    color: #00b6dc;
  }
}

// call to action section

.cta {
  margin-left: 207px;
  margin-top: 267px;
  width: 610px;
  z-index: 10;
  &__title {
    position: relative;
    height: 100px;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: #fff;
    z-index: 10;
  }
  &__title span {
    display: block;
    color: #00b6dc;
    z-index: 10;
  }
  &__wrapper {
    display: flex;
  }
  &__btn {
    all: unset;
    margin-top: 52px;
    border-radius: 25px;
    box-shadow: 0 11px 24px rgba(0, 0, 0, 0.12);
    &--full, &--border {
      box-sizing: border-box;
      align-items: center;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      height: 50px;
      z-index: 10;
      cursor: pointer;
    }
    &--full {
      width: 178px;
      border: none;
      color: #002841;
      background-color: #ffffff;
    }
    &--border {
      margin-left: 20px;
      width: 217px;
      border: 2px solid #f0f3f5;
      background-color: transparent;
      color: #fff;
    }
  }
}

// slider

.slider {
  cursor: pointer;
  display: flex;
  &__arrows {
    position: absolute;
    bottom: 113px;
    left: 13rem;
    z-index: 10;
  }
  &__arrows svg {
    margin-left: 12px;
  }
  &__wrapper {
    position: absolute;
    bottom: 341px;
    right: 100px;
    z-index: 10;

  }
  &__dot {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 1.75rem;
  }
}

// main content

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 215px;
  background-color: #fff;
  &__box {
    display: flex;
    width: 74.375rem;
    height: 38.125rem;
    margin-bottom: 217px;
  }
}
.article {
  margin-right: 89px;
  color: #333333;
  line-height: 32px;

  &__title {
    margin-bottom: 46px;
    color: #002841;
    font-weight: 800;
    font-size: 2.25rem;
  }
  &__content, &__subtitle, &__subtitle, &__list {
    font-size: 18px;
  }

  &__content {
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  &__content span {
    color: #01a7c9;
    line-height: 32px;
  }
  &__subtitle {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
  &__list {
    line-height: 48px;
    list-style: none;
  }
  &__image {
    margin-right: 95px;
  }

}
.fa-long-arrow-alt-right {
  color: #01a7c9;
}

//form

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 661px;
  background-color: #f5f8fa;
  &__question {
    margin-top: 3.125rem;
    margin-bottom: 2.8125rem;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  &__question span {
    display: block;
    color: #7b94a5;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
  }
  &__agreement {
    display: flex;
    line-height: 16px;
    justify-content: center;
    width: 100%;
    height: 62px;
    font-size: 10px;
  }
}
label[for="agreement"]{
  text-align: left;
  width: 527px;
  height: 58px;
  color: #002841;
  font-size: 8px;
  margin-left: 14px;
}
#name, #surname, #email, #area {
  box-shadow: 0 3px 6px rgba(145, 154, 159, 0.08);
  background-color: #ffffff;
  border: none;
}
#name, #surname, #email, #area ::placeholder {
  color: #7b94a5;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}
#name, #surname, #email, #area :focus{
  outline: none;
}

#name, #surname {
  width: 17.0625rem;
  height: 3.0625rem;
  margin-bottom: 1.25rem;
}
#name {
  margin-right: 32px;
}
#email {
  width: 579px;
  height: 49px;
  border: 1px solid #ff3139;
  margin-bottom: 1.25rem;
}
#area {
  padding: 19px 15px;
  width: 579px;
  height: 159px;
  margin-bottom: 24px;
  resize: none;
}
input[type=submit]{
  display: flex;
  align-self: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 118px;
  height: 3.125rem;
  box-shadow: 0 11px 24px rgba(0, 182, 220, 0.12);
  border-radius: 25px;
  background-color: #00b6dc;
  border: none;
  margin: 44px 0 0 0;
}

//footer

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 464px;
  background-color: #001927;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  &__container {
    display: flex;
    width: 1181px;
    height: 311px;
  }
  &__box{
    display: flex;
    flex-direction: column;
    width: 201px;
    height: 311px;
    margin: 84px 97px 0 0;
    &__address {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-weight: 400;
      line-height: 13px;
      font-size: 15px;
      height: 63px;
      margin-bottom: 49px;
    }
    &__map {
      width: 199px;
      height: 199px;
      border-radius: 50%;
      background-color: red;
    }
  }
  &__nav {
    display: flex;
    width: 883px;
    height: 165px;
    margin-top: 90px;
    justify-content: space-around;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-weight: 400;
    }
    &__item > li {
      list-style: none;
      line-height: 18px;
    }
    &__item > li:first-child {
      font-weight: 400;
      line-height: 12px;
    }
  }
  &__copy {
    position: absolute;
    right: 226px;
    bottom: 91px;
  }
}





